/*
First assignment ELzero Web school 

div{
  width:100px;
  height:100px;
 margin:auto; 
background-color:#eee;
display:flex;
  align-items: center;
  justify-content:center;
  color:#E76F51;
  font-family:sans-serif;
  font-weight:bold;
  border-radius:50%;
  box-shadow:5px 0px 0px 0px #E76F51,
    -5px 0px 0px 0px  #1E90FF
;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: 0;

}

.parent {
  width: 600px;
  background-color: #eee;
  height: 300px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
}

.parent div {
  width: 150px;
  background-color: red;
  text-align: center;
  margin-left: calc((100% - 450px) / 4);
  padding: 5px 20px;
  color: white;
  margin-top: 20px;
  margin-bottom: 20px;
}
*/
